@{
    ViewData["Title"] = "Home Page";
}

<div>
    <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
        <template #header>
            lorum ipsum
        </template>
        <template #lead>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </template>
        <hr class="my-4" />
        <p>
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </b-jumbotron>
</div>
<div>
    <b-container>
        <b-card title="GET all players" sub-title="blablabla">
            <b-card-text>
                aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            </b-card-text>
            <b-card-text>
                aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            </b-card-text>
            <code>address/api/v1/players</code>
            <
        </b-card>
    </b-container>
</div>
<div>
    <pre>
        <code>
            @ViewBag.json
        </code>
    </pre>
</div>
<div class="text-center">
    <p><a href="https://localhost:5001/swagger/index.html">Use Swagger</a></p>
</div>
